/* https://tailwindcss.com/docs/box-shadow#customizing-shadows */
@theme {
  --shadow-none: none;
  --shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-base:
    0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-md:
    0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg:
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl:
    0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow-outline: 0 0 0 3px rgba(110, 63, 255, 0.6);
  --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadow-dark-lg:
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 5px 10px,
    rgba(0, 0, 0, 0.4) 0px 15px 40px;
}

@layer utilities {
  .shadow-none {
    box-shadow: var(--shadow-none);
  }
  .shadow-xs {
    box-shadow: var(--shadow-xs);
  }
  .shadow-sm {
    box-shadow: var(--shadow-sm);
  }
  .shadow-base {
    box-shadow: var(--shadow-base);
  }
  .shadow-md {
    box-shadow: var(--shadow-md);
  }
  .shadow-lg {
    box-shadow: var(--shadow-lg);
  }
  .shadow-xl {
    box-shadow: var(--shadow-xl);
  }
  .shadow-2xl {
    box-shadow: var(--shadow-2xl);
  }
  .shadow-outline {
    box-shadow: var(--shadow-outline);
  }
  .shadow-inner {
    box-shadow: var(--shadow-inner);
  }
  .shadow-dark-lg {
    box-shadow: var(--shadow-dark-lg);
  }
}
